
  <!-- Formulaire d'ajout d'examen -->
  <form (ngSubmit)="addExamen()" #examenForm="ngForm">
    
    <!-- Nom de l'examen -->
    <div class="form-group">
      <label for="nom">Nom de l'examen</label>
      <input type="text" id="nom" name="nom" [(ngModel)]="examen.nom" class="form-control" required>
    </div>

    <!-- Date de l'examen -->
    <div class="form-group">
      <label for="date">Date et Heure de l'examen</label>
      <input type="datetime-local" id="date" name="date" [(ngModel)]="examen.date" class="form-control" required>
    </div>

    <!-- Statut de l'examen -->
    <div class="form-group">
      <label for="status">Statut</label>
      <select id="status" name="status" [(ngModel)]="examen.status" class="form-control" required>
        <option value="en cours">En cours</option>
        <option value="terminé">Terminé</option>
        <option value="annulé">Annulé</option>
      </select>
    </div>

    <!-- Commentaires -->
    <div class="form-group">
      <label for="commentaires">Commentaires</label>
      <textarea id="commentaires" name="commentaires" [(ngModel)]="examen.commentaires" class="form-control"></textarea>
    </div>

    <!-- fkNumDossier -->
    <div class="form-group">
      <label for="fkNumDossier">Numéro de dossier</label>
      <select 
        id="fkNumDossier" 
        [(ngModel)]="examen.fkNumDossier" 
        name="fkNumDossier" 
        class="form-control" 
        required>
        <option value="" disabled selected>Sélectionner Numéro de dossier</option>
        <!-- Liste des dossiers -->
        <option *ngFor="let dossier of dossiers" [value]="dossier.numDossier">
          {{ dossier.numDossier }} - {{ dossier.date }} <!-- Affichage du numéro de dossier et de la date -->
        </option>
      </select>
      <div *ngIf="contactForm.get('fkNumDossier')?.invalid && contactForm.get('fkNumDossier')?.touched">
        {{ getErrorMessage('fkNumDossier') }}
      </div>
    </div>
    

    <!-- fkIdEpreuve -->
    <div class="form-group">
      <label for="fkIdEpreuve">Epreuve</label>
      <input type="number" id="fkIdEpreuve" name="fkIdEpreuve" [(ngModel)]="examen.fkIdEpreuve" class="form-control" required>
    </div>

    <!-- fkIdTestAnalyse -->
    <div class="form-group">
      <label for="fkIdTestAnalyse">Test d'analyse</label>
      <select 
        id="fkIdTestAnalyse" 
        [(ngModel)]="examen.fkIdTestAnalyse" 
        name="fkIdTestAnalyse" 
        class="form-control" 
        required>
        <option value="" disabled selected>Sélectionner un test d'analyse</option>
        <option *ngFor="let test of testAnalyses" [value]="test.id">
          {{ test.nomTest  }}
        </option>
      </select>
      <div *ngIf="contactForm.get('fkIdTestAnalyse')?.invalid && contactForm.get('fkIdTestAnalyse')?.touched">
        {{ getErrorMessage('fkIdTestAnalyse') }}
      </div>
    </div>
    

    <!-- Bouton de soumission et annulation -->
    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary" [disabled]="!examenForm.form.valid">Ajouter</button>
    </div>
  </form>
