/* body.component.css */

.body-container {
    padding: 20px;
    background-color: #2121bd;
    color: #333;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .body-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 16px;
  }
  
  .content-section {
    background-color: #f2eeee;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .content-section p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
  }
  