<div *ngIf="isAdding" class="add-container">
    <h2>Ajouter un laboratoire</h2>
    <form (ngSubmit)="addLaboratoire()" enctype="multipart/form-data">
      <label for="nom">Nom</label>
      <input type="text" id="nom" name="nom" [(ngModel)]="laboratoire.nom" required>
  
      <label for="nrc">NRC</label>
      <input type="text" id="nrc" name="nrc" [(ngModel)]="laboratoire.nrc" required>
  
      <label for="statut">Statut</label>
      <input type="text" id="statut" name="statut" [(ngModel)]="laboratoire.statut" required>
  
      <label for="dateActivation">Date Activation</label>
      <input type="date" id="dateActivation" name="dateActivation" [(ngModel)]="laboratoire.dateActivation" required>
  
      <label for="logo">Logo</label>
      <input type="file" id="logo" name="logo" (change)="onFileChange($event)" required>
  
      <div class="actions">
        <button type="submit" class="action-save">Ajouter</button>
        <button class="action-cancel" type="button" (click)="dialogRef.close()">Annuler</button>
      </div>
    </form>
  </div>
  