.add-container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.styled-form {
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 100%; /* Ajoute une hauteur si nécessaire */
}

.full-width {
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.logo-label {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.actions {
  display: flex;
  justify-content: space-between;
}


.action-save:hover {
  background-color: #45a04950;
}

.action-cancel {
  color: #f44336;
}

.action-cancel:hover {
  background-color: rgba(244, 67, 54, 0.1);
}
