<nav class="navbar1" id="navbar">
    <div class="logo"></div>  <!-- Le logo est ici, sous forme d'image de fond -->
    <ul class="nav-links">
      <li><a href="#">Accueil</a></li>
      <li><a href="#about-us">À propos</a></li>
      <li><a href="#about-us">Services</a></li>
      <li><a href="#contact">Contact</a></li>
      <!-- Utilisation d'un bouton qui appelle la méthode onLoginClick -->
      <li><button class="btn-connexion" (click)="onLoginClick()">Connexion</button></li>
    </ul>
  </nav>
  