.delete-dialog-container {
  text-align: center; /* Centre le contenu si besoin */
}

.dialog-title {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.dialog-message {
  font-size: 1rem;
  margin-bottom: 24px;
}

.dialog-buttons button {
  margin: 0 8px; /* Ajoute un espacement horizontal entre les boutons */
}
