/* Corps de la page */
body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f9f9f9; /* Fond blanc-gris doux */
  margin: 0;
  padding: 20px;
}

/* Bouton Ajouter un Laboratoire */
.add-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.add-button {
  background-color: #000; /* Noir pour le bouton */
  color: #fff; /* Texte blanc */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.add-button:hover {
  background-color: #444; /* Légèrement plus clair au survol */
}

/* Tableau des laboratoires */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background-color: #000;
  color: #fff;
  text-align: left;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td {
  color: #333;
}

/* Boutons d'actions dans le tableau */
button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

button[color="warn"] {
  color: #e74c3c; /* Rouge pour suppression */
}

button[color="warn"]:hover {
  background-color: #fdecea; /* Légère surbrillance */
}

button[color="accent"] {
  color: #3498db; /* Bleu pour édition */
}

button[color="accent"]:hover {
  background-color: #eaf5fd; /* Légère surbrillance */
}

/* Images des logos */
img {
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* Responsive design */
@media (max-width: 768px) {
  table {
    font-size: 14px;
  }

  .add-button {
    font-size: 14px;
    padding: 8px 15px;
  }
}

.search-container {
  margin-bottom: 20px;
  flex: 1;
}

.search-input {
  padding: 8px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #000000;
  border-radius: 4px;
}
.search-add-container {
  display: flex;
  justify-content: space-between; /* Espacement entre les éléments */
  align-items: center; /* Centrer verticalement */
  gap: 10px; /* Espacement entre les éléments */
}