<div class="dashboard-container">
    <div class="stats-cards">
      <div class="card1">
        <h3>Total des laboratoires</h3>
        <p>{{ totalLaboratories }}</p>
      </div>
      <div class="card2">
        <h3>Laboratoires activés</h3>
        <p>{{ activeLaboratories }}</p>
      </div>
      <div class="card3">
        <h3>Laboratoires désactivés</h3>
        <p>{{ inactiveLaboratories }}</p>
      </div>
    </div>
  
    <div class="charts-section">
      <div class="chart">
        <canvas id="labStatusChart"></canvas>
      </div>
      <div class="chart">
        <canvas id="labActivationChart"></canvas>
      </div>
    </div>
  
  </div>
 