/* Style pour les en-têtes de tableau */
th {
  background-color: #000 !important; /* Fond noir */
  color: #fff !important; /* Texte blanc */
  text-align: center; /* Alignement gauche */
  padding: 10px; /* Espacement */
}
td{
  text-align: center;
}

/* Style pour les cellules */
table.mat-table td.mat-cell {
  padding: 10px;
}
table {
  width: 100%;
  margin-top: 0px;
  border-collapse: collapse;
}


/* Boutons */
.icon-button {
  background: none;
  box-shadow: none;
  border: none;
  padding: 0;
  margin: 0;
  min-width: auto;
}

.icon-button .material-icons {
  background: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
.header-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 650px; /* Ajoute un espace entre les éléments */
}

.search-field {
  flex: 1; /* Permet à la barre de recherche de s'étendre */
}

.mat-form-field {
  width: 10%;
}


/* Bouton de suppression */
button.delete-button {
    background: none !important; 
    border: none; /* Supprime les bordures */
    box-shadow: none !important;
  color: #d32f2f; /* Rouge pour suppression */
  font-size: 1.2rem; /* Taille de l'icône */
  transition: transform 0.2s ease; /* Animation au survol */
}

button.delete-button:hover {
  transform: scale(1.1); /* Zoom au survol */
}

/* Bouton d'édition */
button.edit-button {
  background: none !important; 
    border: none; /* Supprime les bordures */
    box-shadow: none !important;
  color: #1976d2; /* Bleu pour édition */
  font-size: 1.2rem; /* Taille de l'icône */
  transition: transform 0.2s ease; /* Animation au survol */
}

button.edit-button:hover {
  transform: scale(1.1); /* Zoom au survol */
}

