<div class="dossier-list-container">
  <div class="header-actions">
    <!-- Zone de recherche -->
    <mat-form-field appearance="outline" class="search-field">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Rechercher un dossier" [(ngModel)]="searchTerm" (input)="applyFilter()">
    </mat-form-field>
    <!-- Bouton pour ajouter un dossier -->
    <button mat-raised-button color="primary" (click)="openAddDossierDialog()">Ajouter un Dossier</button>
  </div>

  <br />

  <!-- Table pour afficher la liste des dossiers -->
  <table mat-table [dataSource]="filteredDossiers" class="mat-elevation-z8">
    <ng-container matColumnDef="numDossier">
      <th mat-header-cell *matHeaderCellDef>Numéro de Dossier</th>
      <td mat-cell *matCellDef="let dossier">{{ dossier.numDossier }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date de Création</th>
      <td mat-cell *matCellDef="let dossier">{{ dossier.date }}</td>
    </ng-container>

    <ng-container matColumnDef="fkEmailUtilisateur">
      <th mat-header-cell *matHeaderCellDef>Email Utilisateur</th>
      <td mat-cell *matCellDef="let dossier">{{ dossier.fkEmailUtilisateur }}</td>
    </ng-container>

    <ng-container matColumnDef="fkIdPatient">
      <th mat-header-cell *matHeaderCellDef>ID Patient</th>
      <td mat-cell *matCellDef="let dossier">{{ dossier.fkIdPatient }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let dossier">{{ dossier.status }}</td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let dossier">
        <button mat-raised-button color="warn" class="delete-button" (click)="openDeleteDossierDialog(dossier.numDossier)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button color="accent" class="edit-button" (click)="openEditDossierDialog(dossier.numDossier)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
