.bg {
  width: 100%; /* Ajuste la largeur au maximum de l'écran */
  position: relative;
}
/* Arrière-plan avec diaporama */
.background {
  width: 100%;
  height: 100vh;
  margin-top: 70px;
  background-size: cover;
  background-position: center;
  animation: slideshow 15s infinite;
  transition: background-image 1s ease-in-out; /* Transition douce */
}


/* Animation pour le diaporama */
@keyframes slideshow {
  0% {
    background-image: url('../../../assets/laboratory-management.png');
  }
  33% {
    background-image: url('../../../assets/bg2.jpg');
  }
  66% {
    background-image: url('../../../assets/back2.jpg');
  }
  100% {
    background-image: url('../../../assets/back1.jpg'); /* Retour à la première image */
  }
}
.overlay-bg {
  background-color: rgba(37, 36, 36, 0.24); /* Couche semi-transparente */
  color: white;
  height: 100%; /* Prend toute la hauteur de l'élément parent */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn-start {
  padding: 0.75rem 2rem;
  border: none;
  background-color: #000000;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 30px;
}

.btn-start:hover {
  background-color: #2b573d;
}
