.bg {
  width: 100%; /* Ajuste la largeur au maximum de l'écran */
  position: relative;
}

.background {
  background-image: url('../../../assets/bg2.jpg'); /* Utilise 'assets/' comme préfixe */
  background-size: cover; /* Remplit toute la zone sans déformer */
  background-position: center; /* Centre l'image */
  height: 100vh; /* Utilise 100% de la hauteur de l'écran */
  position: relative;
  margin-top: 72px; /* Ajout d'une marge pour éviter que la navbar ne recouvre l'image de fond */
}

.overlay-bg {
  background-color: rgba(37, 36, 36, 0.24); /* Couche semi-transparente */
  color: white;
  height: 100%; /* Prend toute la hauteur de l'élément parent */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn-start {
  padding: 0.75rem 2rem;
  border: none;
  background-color: #000000;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 30px;
}

.btn-start:hover {
  background-color: #2b573d;
}
