<!-- Bouton de fermeture -->
<button (click)="closeForm()" class="close-button">
  <i class="fa fa-times"></i> <!-- Icône de fermeture -->
</button>
<h2>Modifier les contacts</h2>
<form [formGroup]="contactForm" (ngSubmit)="saveContacts()">
  <div formArrayName="contacts">
    <div *ngFor="let contact of contactsArray.controls; let i = index" [formGroupName]="i" class="contact-group">
      <div class="input-group">
        <label for="numTel">Téléphone</label>
        <input type="text" formControlName="numTel" placeholder="Numéro de téléphone">
      </div>
      <div class="input-group">
        <label for="fax">Fax</label>
        <input type="text" formControlName="fax" placeholder="Fax">
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" placeholder="Email">
      </div>
    </div>
  </div>
  <button type="submit" >Enregistrer</button>
</form>