<section class="about-us" id="about-us">
    <h2>À propos de nous</h2>
    <p>
      Nous fournissons une solution complète de gestion de laboratoire pour optimiser vos opérations de recherche. Notre outil vous permet de suivre les équipements, gérer les projets, et collaborer efficacement.
    </p>
  
    <div class="features">
      <div class="feature">
        <div class="feature-bg"></div>
        <div class="feature-description">
          <h3>Gestion des Laboratoires</h3>
          <p>Création, mise à jour, consultation, et suppression des informations sur les laboratoires.</p>
        </div>
      </div>
  
      <div class="feature">
        <div class="feature-bg"></div>
        <div class="feature-description">
          <h3>Gestion des Utilisateurs</h3>
          <p>Administration des utilisateurs avec leurs rôles , contacts, et accès au système                   .</p>
        </div>
      </div>
  
      <div class="feature">
        <div class="feature-bg"></div>
        <div class="feature-description">
          <h3>Gestion des Analyses et Épreuves</h3>
          <p>Administration des analyses effectuées par le laboratoire et gestion des épreuves associées.</p>
        </div>
      </div>
  
      <div class="feature">
        <div class="feature-bg"></div>
        <div class="feature-description">
          <h3>Gestion des Contacts</h3>
          <p>Organisation des informations de contact pour une communication efficace avec les parties prenantes.</p>
        </div>
      </div>
  
      <div class="feature">
        <div class="feature-bg"></div>
        <div class="feature-description">
          <h3>Gestion des Adresses</h3>
          <p>Administration des adresses pour les laboratoires et contacts.</p>
        </div>
      </div>
  
      <div class="feature">
        <div class="feature-bg"></div>
        <div class="feature-description">
          <h3>Gestion des Dossiers</h3>
          <p>Suivi des dossiers liés aux utilisateurs et leurs patients, permettant une gestion centralisée des documents.</p>
        </div>
      </div>
  
      <div class="feature">
        <div class="feature-bg"></div>
        <div class="feature-description">
          <h3>Examen et Résultats</h3>
          <p>Enregistrement des examens et gestion des résultats pour une traçabilité des processus analytiques.</p>
        </div>
      </div>
    </div>
  </section>
  