mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  button {
    margin-right: 8px;
  }
  .dialog-actions {
    display: flex;
    justify-content: space-between;  /* Pour espacer les boutons */
  }
  
  .dialog-actions button {
    flex: 1;  /* Si vous voulez que les boutons prennent toute la largeur disponible */
  }
  