/* Conteneur principal */
.edit-container {
  position: relative;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Bouton de fermeture */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red; /* Couleur rouge */
  font-size: 1.5em;
  z-index: 10;
}

/* Champs de formulaire pleine largeur */
.full-width {
  width: 100%;
  margin-bottom: 20px;
}

/* Conteneur pour le logo */
.logo-container {
  margin: 0;
  text-align: center;
}

/* Aperçu du logo */
.logo-preview img {
  
  border-radius: 10%; /* Rond si souhaité */
  border: 2px solid #ccc;
  object-fit: cover;
  transition: transform 0.3s ease;
  
  width: 100px;
  height: 70px;
}

.logo-preview img:hover {
  transform: scale(1.1);
}

.logo-preview p {
  font-size: 0.9em;
  color: #666;
  margin-top: 10px;
}

/* Boutons d'action */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.action-save,
.action-contact {
  padding: 10px 20px;
}
