<div class="edit-container">
  <h2>Modifier Laboratoire</h2>
  <label>Nom :</label>
  <input type="text" [(ngModel)]="laboratoire.nom" />

  <label>NRC :</label>
  <input type="text" [(ngModel)]="laboratoire.nrc" />

  <label>Statut :</label>
  <input type="text" [(ngModel)]="laboratoire.statut" />

  <label>Date d'Activation :</label>
  <input type="date" [(ngModel)]="laboratoire.dateActivation" />

  <label>Logo :</label>
  <div class="logo-container">
    <!-- Affichage du logo actuel -->
    <div *ngIf="laboratoire.logo">
      <img [src]="laboratoire.logo" alt="Logo actuel" (click)="triggerFileInput()" style="cursor: pointer; width: 100px; height: 100px; object-fit: cover;" />
      <p>Cliquez sur l'image pour changer le logo</p>
    </div>

    <!-- Champ pour choisir un nouveau fichier -->
    <input type="file" id="logo-input" (change)="onFileChange($event)" style="display: none" />
  </div>
  <button (click)="updateLaboratoire()" class="action-save">Mettre à jour</button>
  <button (click)="dialogRef.close()" class="action-cancel">Annuler</button>
</div>
