th {
  background-color: #000 !important; /* Fond noir */
  color: #fff !important; /* Texte blanc */
  text-align: center; /* Alignement gauche */
  padding: 10px; /* Espacement */
}
/* Flexbox dans l'header */
.header-actions {
  display: flex;
  justify-content: flex-start; /* Alignement à gauche */
  align-items: center;
}

.header-actions button {
  margin-left: 700px; /* Espacement entre le bouton et la barre de recherche */
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 50px; /* Arrondi des coins du bouton */
}

td{
  text-align: center;
}