.sidenav-container {
  height: 100vh;
  display: flex;
  background-color: rgba(255, 0, 0, 0);
  
}

.sidenav {
  width: 290px;
  background-color: #f7f8f6;
  color: #faf6f6;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #000000;
}

.sidebar-logo {
  width: 50px;
  height: 50px;
  background-image: url("../../../assets/docteur.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 12px;
  border-radius: 50%;
}

.sidebar-title {
  font-size: 25px;
  font-weight: bold;
}

.mat-nav-list a {
  color: #ffffff;
  text-decoration: none;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.mat-nav-list a:hover,
.mat-nav-list a.active {
  background-color: #0984e3;
}

.mat-nav-list a mat-icon {
  margin-right: 12px;
}

.matnavlistSid { 
  margin-left: 16px;
  margin-top: 14px;
}
.matnavlistSid a mat-icon { 
  margin-top: 18px;
  width: 21px;
  height: 21px;
  margin-right: 14px;
}
.business { 
  color: rgb(5, 93, 181) ;
}
.location_on { 
  color: rgb(36, 159, 8) ;
}
.group { 
  color: rgb(36, 5, 5) ;
}
.contacts { 
  color: rgb(130, 26, 97) ;
}
.people { 
  color: rgb(48, 58, 146) ;
}
.folder { 
  color: rgb(163, 165, 14) ;
}
.exit { 
  color: rgb(165, 27, 14) ;
}
.dashboard { 
  color: rgb(147, 92, 8) ;
}

mat-sidenav-content {
  padding: 20px;
  background-color: #ffffff;
  width: 100%;
}

.mat-sidenav-content div {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Code de message de confirmation */

.confirmation-message {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: #f3f1f1; 
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.267); 
  text-align: center;
  z-index: 1000; 
  width: 330px; 
}


.confirmation-message p {
  margin-bottom: 25px; 
  font-size: 18px; 
  color: #292828; 
}


button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}


.confirm-btn {
  background-color: #409643; 
  color: white;
}

.confirm-btn:hover {
  background-color: #45a049; 
}

.cancel-btn {
  background-color: #b33128; 
  color: white;
}

.cancel-btn:hover {
  background-color: #e53935; 
}


/* Styles du Header */
.header-pannel{
  display: flex;
  justify-content: flex-end; /* Aligne les icônes à droite */
  padding: 10px;
  background-color: #f1f1f1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Icône de notification */
.notification-icon {
  margin-right: 15px;
  cursor: pointer;
  font-size: 26px;
  color: #d8c814;
}

/* Icône de l'utilisateur */
.user-icon {
  cursor: pointer;
  font-size: 26px;
  margin-right: 20px;
  color: #161717;
}

.matnavlist{
  margin-top: 18px;
  margin-left: 12px;
}
/* Header global */
.header-pannel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #ffffff;
  border-bottom: 2px solid #eeeeee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre pour un effet plus élégant */
}

/* Section de la salutation de bienvenue */
.welcome-message {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-transform: capitalize; /* Mise en valeur de la première lettre du prénom */
}

/* Icônes de notification et de profil */
.header-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notification-icon,
.user-icon {
  margin-left: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333; /* Couleur pour les icônes */
}

.notification-icon:hover,
.user-icon:hover {
  color: #007bff; /* Couleur au survol */
}
