<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <div class="sidebar-header">
      <div class="sidebar-logo"></div>
      <span class="sidebar-title">LabManage</span>
    </div>
    
    <mat-nav-list class="matnavlist">
      <a mat-list-item (click)="selectSection('laboratories')" [class.active]="selectedSection === 'laboratories'">
        <mat-icon matListIcon>business</mat-icon>
        <span>Laboratoires</span>
      </a>
      <a mat-list-item (click)="selectSection('addresses')" [class.active]="selectedSection === 'addresses'">
        <mat-icon matListIcon>location_on</mat-icon>
        <span>Adresses</span>
      </a>
      <a mat-list-item (click)="selectSection('users')" [class.active]="selectedSection === 'users'">
        <mat-icon matListIcon>group</mat-icon>
        <span>Utilisateurs</span>
      </a>
      <!-- Bouton de déconnexion qui affiche le message de confirmation -->
      <a mat-list-item (click)="confirmLogout()">
        <mat-icon matListIcon>exit_to_app</mat-icon>
        <span>Se déconnecter</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <!-- Header avec icônes de notifications et utilisateur -->
    <div class="header-pannel">
      <mat-icon class="notification-icon">notifications</mat-icon>
      <mat-icon class="user-icon">account_circle</mat-icon>
    </div>

    <div *ngIf="selectedSection === 'laboratories'">
      <app-list-laboratories></app-list-laboratories>
    </div>
    <div *ngIf="selectedSection === 'addresses'">
      <!-- <app-addresses></app-addresses> -->
    </div>
    <div *ngIf="selectedSection === 'users'">
      <app-lister-utilisateurs></app-lister-utilisateurs>
    </div>
    
    <!-- Message de confirmation -->
    <div *ngIf="showConfirmation" class="confirmation-message">
      <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
      <button (click)="logout()" class="confirm-btn">Oui</button>
      <button (click)="cancelLogout()" class="cancel-btn">Non</button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
