<mat-card class="mat-elevation-z8 card-container">
  <h2 mat-dialog-title class="dialog-title">{{ isEditMode ? 'Modifier un utilisateur' : 'Ajouter un utilisateur' }}</h2>


  <mat-dialog-content class="mat-typography">
    <form [formGroup]="formGroup" class="form-content">

      <!-- CIN -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>CIN</mat-label>
        <input matInput formControlName="cin" placeholder="Entrez votre CIN" class="rounded-input">
        <mat-icon matPrefix>badge</mat-icon>
        <mat-error *ngIf="formGroup.get('cin')?.invalid && (formGroup.get('cin')?.dirty || formGroup.get('cin')?.touched)">
          Le CIN est requis.
        </mat-error>
      </mat-form-field>

      <!-- Nom Complet -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nom Complet</mat-label>
        <input matInput formControlName="nomComplet" placeholder="Entrez le nom complet" class="rounded-input">
        <mat-icon matPrefix>person</mat-icon>
        <mat-error *ngIf="formGroup.get('nomComplet')?.invalid && (formGroup.get('nomComplet')?.dirty || formGroup.get('nomComplet')?.touched)">
          Le nom complet est requis.
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Entrez votre email" class="rounded-input">
        <mat-icon matPrefix>email</mat-icon>
        <mat-error *ngIf="formGroup.get('email')?.hasError('email')">
          Email invalide.
        </mat-error>
      </mat-form-field>

      <!-- Téléphone -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Téléphone</mat-label>
        <input matInput formControlName="numTel" placeholder="Entrez votre numéro de téléphone" class="rounded-input">
        <mat-icon matPrefix>phone</mat-icon>
        <mat-error *ngIf="formGroup.get('numTel')?.hasError('pattern')">
          Numéro invalide.
        </mat-error>
      </mat-form-field>

      <!-- Rôle -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Rôle</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{ role }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('role')?.invalid">Veuillez sélectionner un rôle.</mat-error>
      </mat-form-field>

      <!-- Champ pour la signature -->
      <div *ngIf="formGroup.get('signature')?.value" class="signature-preview">
        <mat-icon style="color: #FF8C00;">check_circle</mat-icon>
        <span class="signature-text">Signature téléchargée</span>
      </div>
    </form>
  </mat-dialog-content>

  <!-- Actions -->
  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button (click)="onCancel()" class="cancel-button">Annuler</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="formGroup.invalid" class="save-button">
      {{ isEditMode ? 'Modifier' : 'Ajouter' }}
    </button>
  </mat-dialog-actions>
</mat-card>
