<mat-card class="mat-elevation-z8 card-container">
  <h2 mat-dialog-title class="dialog-title">{{ isEditMode ? 'Modifier un utilisateur' : 'Ajouter un utilisateur' }}</h2>


  <mat-dialog-content class="mat-typography">
    <form [formGroup]="formGroup" class="form-content">

      <!-- CIN -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>username</mat-label>
        <input matInput formControlName="username" placeholder="Entrez votre username" class="rounded-input">
        <mat-icon matPrefix>badge</mat-icon>
        <mat-error *ngIf="formGroup.get('username')?.invalid && (formGroup.get('username')?.dirty || formGroup.get('username')?.touched)">
          Le username est requis.
        </mat-error>
      </mat-form-field>

      <!-- Nom Complet -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>firstName</mat-label>
        <input matInput formControlName="firstName" placeholder="Entrez le nfirstName" class="rounded-input">
        <mat-icon matPrefix>person</mat-icon>
        <mat-error *ngIf="formGroup.get('firstName')?.invalid && (formGroup.get('firstName')?.dirty || formGroup.get('firstName')?.touched)">
          Le firstName est requis.
        </mat-error>
      </mat-form-field>
   <!-- lastname -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label> lastName</mat-label>
        <input matInput formControlName="lastName" placeholder="Entrez votre  lastName" class="rounded-input">
   

      </mat-form-field>
      <!-- Email -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Entrez votre email" class="rounded-input">
        <mat-icon matPrefix>email</mat-icon>
        <mat-error *ngIf="formGroup.get('email')?.hasError('email')">
          Email invalide.
        </mat-error>
      </mat-form-field>

   

      <!-- Rôle -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Rôle</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{ role }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('role')?.invalid">Veuillez sélectionner un rôle.</mat-error>
      </mat-form-field>

      <!-- Champ pour la signature -->
    
    </form>
  </mat-dialog-content>

  <!-- Actions -->
  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button (click)="onCancel()" class="cancel-button">Annuler</button>
    <button mat-raised-button color="primary" (click)="onSave()" class="save-button">
      {{ isEditMode ? 'Modifier' : 'Ajouter' }}
    </button>
  </mat-dialog-actions>
</mat-card>
