/* dashboard.component.css */
.dashboard-container {
    display: flex;
  }
  
  app-sidebar {
    width: 250px; /* Largeur de la sidebar */
    background-color: #333;
  }
  
  .body-container {
    flex: 1;
    padding: 20px;
    background-color: #eb4040;
  }
  