<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <div class="sidebar-header">
        <div class="sidebar-logo"></div>
        <span class="sidebar-title">LabManage</span>
      </div>
  
      <mat-nav-list class="matnavlistSid">
         <!-- Section Dashboard -->
        <a mat-list-item (click)="selectSection('statistics')" [class.active]="selectedSection === 'statistics'">
          <mat-icon matListIcon class="dashboard">dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
        <!-- Section Profil -->
        <a mat-list-item (click)="selectSection('profil')" [class.active]="selectedSection === 'profil'">
          <mat-icon matListIcon class="profil">account_circle</mat-icon>
          <span>Profil</span>
        </a>
        <!-- Section Tests -->
        <a mat-list-item (click)="selectSection('tests')" [class.active]="selectedSection === 'tests'">
          <mat-icon matListIcon class="profil">list</mat-icon>
          <span>Tests des Analyses</span>
        </a>
        <!-- Section Dossier -->
        <a mat-list-item (click)="selectSection('dossiers')" [class.active]="selectedSection === 'dossiers'">
          <mat-icon matListIcon class="dossier">folder</mat-icon>
          <span>Dossiers</span>
        </a>
        <!-- Section Examens -->
        <a mat-list-item (click)="selectSection('Examens')" [class.active]="selectedSection === 'Examens'">
          <mat-icon matListIcon class="examen">folder</mat-icon>
          <span>Examens</span>
        </a>
         <!-- Section Resultats -->
         <a mat-list-item (click)="selectSection('result')" [class.active]="selectedSection === 'result'">
          <mat-icon matListIcon class="result">assessment</mat-icon>
          <span>Resultats</span>
        </a>
       <a mat-list-item (click)="selectSection('logout')" [class.active]="selectedSection === 'logout'">
          <mat-icon matListIcon class="exit">exit_to_app</mat-icon>
          <span>Se Déconnecter</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <!-- Header avec le nom de l'utilisateur -->
      <div class="header-pannel">
        <div class="welcome-message">
          <span>Bonjour, {{ userInfo.nom }} {{ userInfo.prenom }}!</span>
        </div>
      </div>
  
      <br />
      <!-- Contenu de la section Dashboard -->
      <div *ngIf="selectedSection === 'statistics'">
        <app-dashboard-technicien></app-dashboard-technicien>
      </div>
      <!-- Contenu de la section Profil -->
      <div *ngIf="selectedSection === 'profil'">
        <app-user-profile></app-user-profile>
      </div>

      <!-- Contenu de la section Tests -->
      <div *ngIf="selectedSection === 'tests'">
        <app-test-analyse></app-test-analyse>
      </div>

      <!-- Contenu de la section Dossiers -->
      <div *ngIf="selectedSection === 'dossiers'">
        <app-dossier-list></app-dossier-list>
      </div>

      <!-- Contenu de la section Examen -->
      <div *ngIf="selectedSection === 'Examens'">
        <app-examen-list></app-examen-list>
      </div>

      <!-- Contenu de la section Examen -->
      <div *ngIf="selectedSection === 'result'">
        <app-resultat-list></app-resultat-list>
      </div>
   
    <!-- Contenu de la section logout -->
    <div *ngIf="selectedSection === 'logout' && showConfirmation" class="confirmation-message">
      <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
      <button (click)="logout()" class="confirm-btn">Oui</button>
      <button (click)="cancelLogout()" class="cancel-btn">Non</button>
    </div>
    
  </mat-sidenav-content>
  
  </mat-sidenav-container>
  