.table-contact{
    width: 100%;
  }
  
  th.mat-header-cell,
  td.mat-cell {
    padding: 8px;
  }
  .search-bar-contact {
      display: flex;
      align-items: center;
      margin-left: 750px;
      margin-bottom: 20px;
    }
    
    .search-bar-contact mat-icon {
      margin-right: 8px; 
      color: rgb(69, 71, 71);
    }
    
    .search-input {
      border: 1px solid #cccccc7c;
      padding: 8px;
      width: 200px;
      border-radius: 20px;
    }
    .search-input:hover{
      border-color:  #55e060;
    }
    
    